@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@400;500&display=swap');@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

.main-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 15px;
}

.overlay-image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #f7f7f7;
    z-index: -1;
}
.overlay-image::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(25, 42, 33, 0.52);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(25, 42, 33, 0.3);
}
.overlay-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quiz-container{
    width: 700px;
    min-height: 480px;
    height: auto;
    background: rgba(25, 42, 33, 0.50);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 25px 40px;
}

.question-cont{
    width: 100%;
    height: auto;
    min-height: 100px;
    border-radius: 10px;
    border: 1px solid #fff;
    background: rgba(18, 41, 29, 0.973);
    color: #fff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px 30px;
    
}
.question-cont h1{
    font-size: 30px;
    font-family: 'Merriweather', serif;
    /* color: #192A21; */
}

.choices-label{
    width: 160px;
    height: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 20px;
    position: relative;
    color: #192A21;
    font-weight: bold;
}
.choices-label::after{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 50px solid #fff;
}

.choices-label::before{
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 50px solid #fff;
}

.choices-cont{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.choices-cont button{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #fff;
    background: rgba(18, 41, 29, 0.973);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    cursor: pointer;
}
.choices-cont button:hover{
    background: rgba(18, 41, 29, 0.80);
   
}

#submit-btn{
    display: none;
}


.result-cont{

    width: 100%;
    position: relative;
}
.correct , .wrong{
    font-size: 18px;
    border: 1px solid #fff;
    background: rgba(18, 41, 29, 0.973);
    color: #fff;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 10px;
    position: absolute;
    display: none;
    opacity: 0;
}
.show-correct{
    display: flex;
    opacity: 1;
}

.show-wrong{
    display: flex;
    opacity: 1;
}

.scoring-board{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    display: none;
}
.show-scoring-board{
    display: flex;
}

.score-holder{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.score-count{
    width: 290px;
    border-radius: 5px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    border: 1px solid #fff;
    background: rgba(18, 41, 29, 0.973);
    color: #fff;
}
.score-count small{
    position: absolute;
    top: 10px;
    left: 10px;
}
.score-count span{
    font-size: 35px;
    font-weight: 500;
}

.topic{
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    background: rgba(18, 41, 29, 0.973);
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    margin-bottom: 0;
    font-size: 16px;
}

.choose-quiz{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
.choose-quiz span{
    width: 290px;
    height: 50px;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #fff;
    background: rgba(18, 41, 29, 0.973);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s;

}

.choose-quiz span:hover{
    transition: 0.0s;

    transform: scale(1.1);
    background: rgba(18, 41, 29, 0.80);
}

.quiz-count{
    height: 100px;
    height: auto;
    color: #fff;
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 20px;
}



@media (max-width:710px){
    .choices-cont button{
        width: 100%;
    }
    .score-count{
        width: 50%;
        margin: 5px;
    }
    .choose-quiz span{
        width: 100%;
    }
}

@media (max-width:717px){
    .choices-label::after, .choices-label::before{
        display: none;
    }
    .choices-label{
        border-radius: 5px;
    }
    .main-container{
        padding: 10px;
    }
    .quiz-count{
        top: 10px;
        left: 10px;
    }
    .quiz-container{
        padding: inherit;
    }
    .choices-cont button{
        margin: 3px 0;
    }
    .question-cont{
        padding: 10px;
    }
    .question-cont h1{
        font-size: 18px;
    }
    .correct , .wrong{
        position: relative;
        top: 0;
        left: 0;
        height: 50px;
        font-size: 12px;
        text-align: center;
    }
    .choose-quiz span{
        margin: 3px 0;
    }
    .score-count small{
        font-size: 10px;
    }

}


